@media (max-width:496px){


// ayudanos pagina 2------------------------
main{
    .grid2{
        display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 55rem 1fr;
            grid-column-gap: 10px;
    }
    .ayudanos1 { grid-area: 1 / 1 / 2 / 3; }
            .ayudanos2 { grid-area: 2 / 1 / 3 / 2; }
            .ayudanos3 { grid-area: 2 / 2 / 3 / 3; }

            .ayudanos1{
                h1{
                    margin: 0;
                }
                h2{
                    margin: 0;
                }
            }

            .ayudanos2{
                img{
                    margin-top: 0px;
                    width: 100%;
                    height: 150px;
                }
            }
            .ayudanos3{
                margin-right: 90px;
                width: 100%;

            }
}}